* {
 box-sizing: border-box;
 margin: 0;
 font-family: 'Open Sans', Arial, sans-serif;
}


/* NAV BAR */
#navbar {
 width: 300px;
 height: 100%;
 position: fixed;
 top: 0;
 left: 0 ;
 z-index: 1000;
 border-right: 3px solid gray;
 overflow: hidden;
}

#navbar > header > ul {
 list-style: none;
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.nav-link {
 width: 100%;
 color: black;
 text-decoration: none;
 cursor: pointer;
 display: inline-block;
 padding: 13px 0 13px 30px;
 border-top: none;
 border-bottom: 1px solid rgba(0, 0, 0, 0.726);
 font-size: 16px;
 text-align: left;
 vertical-align: auto;
 color: rgb(66, 66, 66);
}

#reference > ul > li > a:visited {
  color:blue;
}

#last {
 border-bottom: none;
}

main {
 margin-left: 300px;
 padding: 30px;
}

#siteHeader {
 padding: 15px 10px 20px 10px;
 font-size: 1.8em;
 text-align: center;
 font-weight: normal;
 border-bottom: 1px solid rgba(0, 0, 0, 0.726);
}

/* ---------- */

/* MAIN CONTENT */

h2 {
 font-weight: normal;
 font-size: 1.8em;
 padding: 5px 20px 20px 5px;
}

p {
 margin-bottom: 5px;
 margin-left: 10px;
 color: rgb(73, 73, 73);
 font-size: 15.35px;
 padding: 10px 10px 0px 1px;
 position: relative;
 top: -10px;
 left: 10px;
 line-height: 24px;
}

main > section > ul {
  color: rgb(73, 73, 73);
  font-size: 15.35px;
  position: relative;
  left: 30px;
  top: -5px;
  line-height: 25px;
  overflow: hidden;
  margin-left: 15px;
}

main > section > ul > li {
 margin-bottom: 15px;
}

.codeSection{
 display: block;
 position: relative;
 word-break: normal;
 word-wrap: normal;
 text-align: left;
 font-family: monospace;
 background-color: rgb(240, 240, 239);
 color: rgb(66, 66, 66);
 border-radius: 2px;
 margin: 10px;
 padding: 20px;
}


@media (max-width: 900px){
  #navbar {
  width: 100%;
  top: 0;
  position: relative;
  }

  main {
    margin-left: auto
  }

  #navbar>header>ul {
    height: 220px;
    overflow: auto;
    border: 2px solid black;
  }
}